.gallery-wrapper {
  width: 95%;
  max-width: 999px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    margin-top: 1.5em;
  }

  img {
    width: 150px;
    height: auto;

    @include mq {
      width: 200px;
      height: auto;
    }
  }
}