.lb-nav a.lb-prev,
.lb-nav a.lb-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-data .lb-close {
  display: none;
}

.lb-data .lb-details {
  float: none;
  margin: .7em auto;
  max-width: 600px;
  text-align: center;
}